#activities, #experience, #contact {
    padding: 0px 24px;
}

.mdl-layout__drawer {
    padding-right: 16px;
}

.mdl-layout__drawer .mdl-layout__title {
    line-height: 32px;
    margin-top: 16px;
}

.mdl-layout__drawer-button>i {
    margin-top: 12px;
}


#home #info, #home #skills, #home #cards {
    padding: 24px;
}

#home #info h3, #home #skills h3 {
    margin-top: 0px;
}

#home .homeImg {
    width: 100%;
    height: 66%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
    #home .homeImg {
        height: 100%;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#cards .mdl-card {
    width: 100%;
}

#cards .col-md-4 {
    margin-bottom: 16px;
}


#education h1, #education h2, #education h3, #education h4 {
    margin: 8px 0px;
}


#activities .table-responsive {
    width: 100%;
    margin-top: 16px;
}

#activities .table-responsive table {
    width: 100%;
}


#experience {
    margin-top: 16px;
}

#experience .mdl-card {
    width: 100%;
    margin-bottom: 16px;
}

#experience .mdl-card h3 {
    font-size: 1rem;
    margin: 0px;
}


#contact .row {
    margin-top: 16px;
}

#contact .col-md-6 {
    margin-bottom: 16px;
}

#contact #contactForm {
    padding: 16px;
}

#contact #contactForm md-input-container {
    padding: 0px;
}

#contact #contactForm #submitButton {
    margin: 16px 0px 0px 0px;
}

#contact #messageList .mdl-card {
    width: 100%;
    margin-bottom: 16px;
}


md-toast {
    background-color: #FFAB40;
}
md-toast .md-toast-content {
    background-color: #FFAB40 !important;
}
