.mdl-layout__content>div {
    padding: 0px 32px;
}

.mdl-layout__drawer .mdl-layout__title {
    line-height: 32px;
    margin-top: 16px;
}

.mdl-layout__drawer-button>i {
    margin-top: 12px;
}


#cards .mdl-card {
    width: 100%;
}

#cards .col-md-4 {
    margin-bottom: 16px;
}


#education h1, #education h2, #education h3, #education h4 {
    margin: 8px 0px;
}
