<div id="contact" class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <md-toolbar layout="row" class="md-accent">
                <div class="md-toolbar-tools">
                    <span>Contact Form</span>
                </div>
            </md-toolbar>
            <div md-whiteframe="8" id="contactForm">
                <form name="contactForm">
                    <md-input-container>
                        <label>Name *</label>
                        <input type="text" ng-model="name" name="name" required />
                        <div ng-messages="contactForm.name.$error">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Email *</label>
                        <input type="text" ng-model="email" name="email" required ng-pattern="/^.+@.+\..+$/" />
                        <div ng-messages="contactForm.email.$error">
                            <div ng-message="required">This is required!</div>
                            <div ng-message="pattern">Email format only (e.g. tmchau@connect.ust.hk)</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Subject *</label>
                        <input type="text" ng-model="subject" name="subject" required />
                        <div ng-messages="contactForm.subject.$error">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Message *</label>
                        <textarea type="text" ng-model="message" name="message" required rows="4"></textarea>
                        <div ng-messages="contactForm.message.$error">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>

                    <md-button type="submit" id="submitButton" ng-click="submit()" class="md-accent md-raised">Submit</md-button>
                </form>
            </div>
        </div>

        <div class="col-md-6" id="messageList">
            <md-toolbar layout="row" class="md-accent">
                <div class="md-toolbar-tools">
                    <span>Messages (subject and message)</span>
                </div>
            </md-toolbar>
            <div class="mdl-card" ng-repeat="message in messages | orderBy:'-id'">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">{{message.subject}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    {{message.body}}
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </div>
    </div>
</div>
