<div>
    <h1>{{personalInfo.firstName}} {{personalInfo.lastName}}</h1>

    <div class="row" ng-repeat="info in personalInfo.infos">
        <div class="col-md-3">{{info.key}}</div>
        <div class="col-md-9" ng-if="info.link"><a href="#" ng-click="openLink(info.link)">{{info.value}}</a></div>
        <div class="col-md-9" ng-if="!info.link">{{info.value}}</div>
    </div>

    <div class="row" id="skills">
        <div class="col-md-12">
            <h2>Skills</h2>
            <ul>
                <li>Python</li>
                <li>C++</li>
                <li>Full Stack Web Development</li>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>AngularJS</li>
                        <li>Firebase</li>
                        <li>Node.js</li>
                        <li>SQL (MySQL)</li>
                        <li>MongoDB</li>
                        <li>Bootstrap</li>
                        <li>Material Design (Material Design Lite)</li>
                    </ul>
                <li>Linux Command Line</li>
                <li>Git and GitHub</li>
            </ul>
        </div>
    </div>
</div>
